traffic-light-with-mitsubishi-fx5u.json
[
    {
        "id": "6ea7bffa72d59357",
        "type": "tab",
        "label": "Traffic Light FX5U Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8af2af17b6d7695d",
        "type": "group",
        "z": "6ea7bffa72d59357",
        "name": "TRAFFIC LIGHT CONTROL WITH MC",
        "style": {
            "stroke": "#3f3f3f",
            "label": true,
            "label-position": "ne",
            "color": "#000000"
        },
        "nodes": [
            "3e814f2755b0692e",
            "cf52345eac4b55ce",
            "41dadefde3bd8efe",
            "effa7ab51fc8686d",
            "ab05adfe738e006d",
            "f09c99e113d0a5d8",
            "69c27bc04ba33faf",
            "4373ddab2ea2cb36",
            "ad1d0da5ecef4ba3",
            "59026950287e9660",
            "4a5435e7c04d0dde",
            "583e12325389e09b",
            "e94007ebb9953c73",
            "656e6e7258f1c4ee",
            "86a4b7bded252cbd",
            "c6b7aad772b351c0",
            "6c92ad223f25f972",
            "ff01bf0bdc763a60",
            "c13a356b681f4f80",
            "b3798d29cce97d64",
            "35c88a42c2b8c1e4",
            "d33234d9938bfd36",
            "0fd664f69205a13c",
            "738f9a23ddf8af56"
        ],
        "x": 34,
        "y": 19,
        "w": 952,
        "h": 582
    },
    {
        "id": "73fc7960401b8103",
        "type": "group",
        "z": "6ea7bffa72d59357",
        "name": "TRAFFIC LIGHT CONTROL WITH MODBUS TCP",
        "style": {
            "label": true,
            "stroke": "#3f3f3f",
            "label-position": "ne",
            "color": "#000000"
        },
        "nodes": [
            "f91469e08be63638",
            "9ace77ce0b42f6b0",
            "b9409fb0b915aa46",
            "c761f0c6e5115b87",
            "d2f7c5dbb2825011",
            "2b62ee632ad24586",
            "c196100d7911db3f",
            "581c02b624110cd8",
            "9e767860f41640f9",
            "98570ea1d78a6132",
            "abb5204e45cd6450",
            "3870f086f94a33a3",
            "fda3c89fda23c5e3",
            "5bdbcbf10eb3b621",
            "5b488907f27c0a28",
            "387cf2c1a1d0d419"
        ],
        "x": 34,
        "y": 639,
        "w": 712,
        "h": 622
    },
    {
        "id": "3e814f2755b0692e",
        "type": "MC Write",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "M0",
        "topic": "",
        "connection": "1fd548aff98acb88",
        "data": "payload",
        "address": "M0",
        "addressType": "str",
        "dataType": "msg",
        "errorHandling": "throw",
        "outputs": 1,
        "x": 310,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "cf52345eac4b55ce",
        "type": "MC Read",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "READ M0 STATUS",
        "topic": "",
        "connection": "1fd548aff98acb88",
        "address": "M0",
        "addressType": "str",
        "outputFormat": "1",
        "errorHandling": "throw",
        "outputs": 1,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "effa7ab51fc8686d"
            ]
        ]
    },
    {
        "id": "41dadefde3bd8efe",
        "type": "inject",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "M0 STATUS",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "cf52345eac4b55ce"
            ]
        ]
    },
    {
        "id": "effa7ab51fc8686d",
        "type": "function",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "CHECK M0 STATUS",
        "func": "if(msg.payload){\n    msg.payload = \"SYSTEM IS ACTIVE\";\n}else{\n    msg.payload = \"SYSTEM IS NOT ACTIVE\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "86a4b7bded252cbd"
            ]
        ]
    },
    {
        "id": "ab05adfe738e006d",
        "type": "function",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "CHECK M0 STATUS",
        "func": "if(msg.payload){\n    msg.payload = \"SYSTEM HAS BEEN ACTIVATED\";\n}else{\n    msg.payload = \"SYSTEM HAS BEEN DEACTIVATED\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "ff01bf0bdc763a60"
            ]
        ]
    },
    {
        "id": "f09c99e113d0a5d8",
        "type": "MC Read",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "RED LIGHT",
        "topic": "",
        "connection": "1fd548aff98acb88",
        "address": "Y1",
        "addressType": "str",
        "outputFormat": "1",
        "errorHandling": "throw",
        "outputs": 1,
        "x": 390,
        "y": 440,
        "wires": [
            [
                "b3798d29cce97d64"
            ]
        ]
    },
    {
        "id": "69c27bc04ba33faf",
        "type": "MC Read",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "YELLOW LIGHT",
        "topic": "",
        "connection": "1fd548aff98acb88",
        "address": "Y2",
        "addressType": "str",
        "outputFormat": "1",
        "errorHandling": "throw",
        "outputs": 1,
        "x": 400,
        "y": 500,
        "wires": [
            [
                "35c88a42c2b8c1e4"
            ]
        ]
    },
    {
        "id": "4373ddab2ea2cb36",
        "type": "MC Read",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "GREEN LIGHT",
        "topic": "",
        "connection": "1fd548aff98acb88",
        "address": "Y3",
        "addressType": "str",
        "outputFormat": "1",
        "errorHandling": "throw",
        "outputs": 1,
        "x": 400,
        "y": 560,
        "wires": [
            [
                "d33234d9938bfd36"
            ]
        ]
    },
    {
        "id": "ad1d0da5ecef4ba3",
        "type": "MC Read",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "INDICATOR LIGHT",
        "topic": "",
        "connection": "1fd548aff98acb88",
        "address": "Y0",
        "addressType": "str",
        "outputFormat": "1",
        "errorHandling": "throw",
        "outputs": 1,
        "x": 410,
        "y": 380,
        "wires": [
            [
                "c13a356b681f4f80"
            ]
        ]
    },
    {
        "id": "59026950287e9660",
        "type": "inject",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "LIGHT STATUS",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "ad1d0da5ecef4ba3",
                "f09c99e113d0a5d8",
                "69c27bc04ba33faf",
                "4373ddab2ea2cb36"
            ]
        ]
    },
    {
        "id": "4a5435e7c04d0dde",
        "type": "ui_text",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "group": "7c6faa8868db138f",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "INDICATOR LIGHT",
        "label": "INDICATOR LIGHT",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Gill Sans,Geneva,sans-serif",
        "fontSize": "16",
        "color": "#303030",
        "x": 870,
        "y": 380,
        "wires": []
    },
    {
        "id": "583e12325389e09b",
        "type": "ui_text",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "group": "7c6faa8868db138f",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "RED LIGHT",
        "label": "RED LIGHT",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Gill Sans,Geneva,sans-serif",
        "fontSize": "15",
        "color": "#303030",
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "e94007ebb9953c73",
        "type": "ui_text",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "group": "7c6faa8868db138f",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "YELLOW LIGHT",
        "label": "YELLOW LIGHT",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Gill Sans,Geneva,sans-serif",
        "fontSize": "15",
        "color": "#303030",
        "x": 860,
        "y": 500,
        "wires": []
    },
    {
        "id": "656e6e7258f1c4ee",
        "type": "ui_text",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "group": "7c6faa8868db138f",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "GREEN LIGHT",
        "label": "GREEN LIGHT",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Gill Sans,Geneva,sans-serif",
        "fontSize": "15",
        "color": "#303030",
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "86a4b7bded252cbd",
        "type": "ui_text",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "group": "7c6faa8868db138f",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "SYSTEM STATUS",
        "label": "SYSTEM STATUS",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Gill Sans,Geneva,sans-serif",
        "fontSize": "16",
        "color": "#292929",
        "x": 870,
        "y": 320,
        "wires": []
    },
    {
        "id": "c6b7aad772b351c0",
        "type": "ui_button",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "START",
        "group": "fa87fbb421d605cd",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START",
        "tooltip": "",
        "color": "#FCFBF4",
        "bgcolor": "#6FC276",
        "className": "",
        "icon": "fa-check-circle",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "3e814f2755b0692e",
                "ab05adfe738e006d"
            ]
        ]
    },
    {
        "id": "6c92ad223f25f972",
        "type": "ui_button",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "STOP",
        "group": "fa87fbb421d605cd",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "#FCFBF4",
        "bgcolor": "#FF6961",
        "className": "",
        "icon": "fa-times-circle",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "ab05adfe738e006d",
                "3e814f2755b0692e"
            ]
        ]
    },
    {
        "id": "ff01bf0bdc763a60",
        "type": "ui_toast",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Got it!",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "SYSTEM NOTIFICATION",
        "x": 610,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c13a356b681f4f80",
        "type": "function",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "CHECK LIGHT",
        "func": "if(msg.payload){\n    msg.payload = \"LIGHT ON\";\n}else{\n    msg.payload = \"LIGHT OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 380,
        "wires": [
            [
                "4a5435e7c04d0dde"
            ]
        ]
    },
    {
        "id": "b3798d29cce97d64",
        "type": "function",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "CHECK LIGHT",
        "func": "if(msg.payload){\n    msg.payload = \"LIGHT ON\";\n}else{\n    msg.payload = \"LIGHT OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 440,
        "wires": [
            [
                "583e12325389e09b"
            ]
        ]
    },
    {
        "id": "35c88a42c2b8c1e4",
        "type": "function",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "CHECK LIGHT",
        "func": "if(msg.payload){\n    msg.payload = \"LIGHT ON\";\n}else{\n    msg.payload = \"LIGHT OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 500,
        "wires": [
            [
                "e94007ebb9953c73"
            ]
        ]
    },
    {
        "id": "d33234d9938bfd36",
        "type": "function",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "CHECK LIGHT",
        "func": "if(msg.payload){\n    msg.payload = \"LIGHT ON\";\n}else{\n    msg.payload = \"LIGHT OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 560,
        "wires": [
            [
                "656e6e7258f1c4ee"
            ]
        ]
    },
    {
        "id": "0fd664f69205a13c",
        "type": "comment",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "SYSTEM CONTROL",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "738f9a23ddf8af56",
        "type": "comment",
        "z": "6ea7bffa72d59357",
        "g": "8af2af17b6d7695d",
        "name": "SYSTEM STATUS",
        "info": "",
        "x": 150,
        "y": 260,
        "wires": []
    },
    {
        "id": "f91469e08be63638",
        "type": "ui_button",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "name": "START",
        "group": "fa87fbb421d605cd",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START",
        "tooltip": "",
        "color": "#FCFBF4",
        "bgcolor": "#6FC276",
        "className": "",
        "icon": "fa-check-circle",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 740,
        "wires": [
            [
                "b9409fb0b915aa46",
                "c761f0c6e5115b87"
            ]
        ]
    },
    {
        "id": "9ace77ce0b42f6b0",
        "type": "ui_button",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "name": "STOP",
        "group": "fa87fbb421d605cd",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "#FCFBF4",
        "bgcolor": "#FF6961",
        "className": "",
        "icon": "fa-times-circle",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "b9409fb0b915aa46",
                "c761f0c6e5115b87"
            ]
        ]
    },
    {
        "id": "b9409fb0b915aa46",
        "type": "modbus-write",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "name": "M0",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "8192",
        "quantity": "1",
        "server": "d4cf55653c1f98e8",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 310,
        "y": 800,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c761f0c6e5115b87",
        "type": "function",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "name": "CHECK M0 STATUS",
        "func": "if(msg.payload){\n    msg.payload = \"SYSTEM HAS BEEN ACTIVATED\";\n}else{\n    msg.payload = \"SYSTEM HAS BEEN DEACTIVATED\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 740,
        "wires": [
            [
                "d2f7c5dbb2825011"
            ]
        ]
    },
    {
        "id": "d2f7c5dbb2825011",
        "type": "ui_toast",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Got it!",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "SYSTEM NOTIFICATION",
        "x": 610,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "2b62ee632ad24586",
        "type": "modbus-read",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "name": "M0",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "8192",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "d4cf55653c1f98e8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 980,
        "wires": [
            [
                "9e767860f41640f9"
            ],
            []
        ]
    },
    {
        "id": "c196100d7911db3f",
        "type": "comment",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "name": "SYSTEM CONTROL",
        "info": "",
        "x": 150,
        "y": 680,
        "wires": []
    },
    {
        "id": "581c02b624110cd8",
        "type": "comment",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "name": "SYSTEM CONTROL",
        "info": "",
        "x": 150,
        "y": 920,
        "wires": []
    },
    {
        "id": "9e767860f41640f9",
        "type": "function",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "name": "M0 FILTERING",
        "func": "msg.payload = msg.payload[0];\n\nif(msg.payload){\n    msg.payload = \"SYSTEM IS ACTIVE\";\n}else{\n    msg.payload = \"SYSTEM IS NOT ACTIVE\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 980,
        "wires": [
            [
                "98570ea1d78a6132"
            ]
        ]
    },
    {
        "id": "98570ea1d78a6132",
        "type": "ui_text",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "group": "7c6faa8868db138f",
        "order": 7,
        "width": 5,
        "height": 1,
        "name": "SYSTEM STATUS",
        "label": "SYSTEM STATUS",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Gill Sans,Geneva,sans-serif",
        "fontSize": "16",
        "color": "#292929",
        "x": 610,
        "y": 980,
        "wires": []
    },
    {
        "id": "abb5204e45cd6450",
        "type": "function",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "name": "LIGHT FILTER",
        "func": "// Ambil 4 elemen pertama dari array (sesuai dengan contoh Anda)\nconst firstFour = msg.payload.slice(0, 4);\n\n// Pisahkan nilai ke dalam msg yang berbeda dan tambahkan kondisi\nmsg.indicator = firstFour[0] ? \"LIGHT ON\" : \"LIGHT OFF\";\nmsg.red = firstFour[1] ? \"LIGHT ON\" : \"LIGHT OFF\";\nmsg.yellow = firstFour[2] ? \"LIGHT ON\" : \"LIGHT OFF\";\nmsg.green = firstFour[3] ? \"LIGHT ON\" : \"LIGHT OFF\";\n\n// Hapus array asli dari msg.payload\ndelete msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1040,
        "wires": [
            [
                "fda3c89fda23c5e3",
                "5bdbcbf10eb3b621",
                "5b488907f27c0a28",
                "387cf2c1a1d0d419"
            ]
        ]
    },
    {
        "id": "3870f086f94a33a3",
        "type": "modbus-read",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "name": "INDICATOR LIGHT",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "4",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "d4cf55653c1f98e8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 1040,
        "wires": [
            [
                "abb5204e45cd6450"
            ],
            []
        ]
    },
    {
        "id": "fda3c89fda23c5e3",
        "type": "ui_text",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "group": "7c6faa8868db138f",
        "order": 8,
        "width": 5,
        "height": 1,
        "name": "INDICATOR LIGHT",
        "label": "INDICATOR LIGHT",
        "format": "{{msg.indicator}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Gill Sans,Geneva,sans-serif",
        "fontSize": "16",
        "color": "#292929",
        "x": 610,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5bdbcbf10eb3b621",
        "type": "ui_text",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "group": "7c6faa8868db138f",
        "order": 9,
        "width": 3,
        "height": 1,
        "name": "RED LIGHT",
        "label": "RED LIGHT",
        "format": "{{msg.red}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Gill Sans,Geneva,sans-serif",
        "fontSize": "15",
        "color": "#292929",
        "x": 590,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5b488907f27c0a28",
        "type": "ui_text",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "group": "7c6faa8868db138f",
        "order": 10,
        "width": 4,
        "height": 1,
        "name": "YELLOW LIGHT",
        "label": "YELLOW LIGHT",
        "format": "{{msg.yellow}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Gill Sans,Geneva,sans-serif",
        "fontSize": "15",
        "color": "#292929",
        "x": 600,
        "y": 1160,
        "wires": []
    },
    {
        "id": "387cf2c1a1d0d419",
        "type": "ui_text",
        "z": "6ea7bffa72d59357",
        "g": "73fc7960401b8103",
        "group": "7c6faa8868db138f",
        "order": 11,
        "width": 3,
        "height": 1,
        "name": "GREEN LIGHT",
        "label": "GREEN LIGHT",
        "format": "{{msg.green}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Gill Sans,Geneva,sans-serif",
        "fontSize": "15",
        "color": "#292929",
        "x": 600,
        "y": 1220,
        "wires": []
    },
    {
        "id": "fd500b155fda1904",
        "type": "ui_spacer",
        "z": "6ea7bffa72d59357",
        "name": "spacer",
        "group": "7c6faa8868db138f",
        "order": 6,
        "width": 10,
        "height": 1
    },
    {
        "id": "6397921fcfcfc538",
        "type": "ui_spacer",
        "z": "6ea7bffa72d59357",
        "name": "spacer",
        "group": "fa87fbb421d605cd",
        "order": 3,
        "width": 10,
        "height": 1
    },
    {
        "id": "136c88adbae5477f",
        "type": "ui_spacer",
        "z": "6ea7bffa72d59357",
        "name": "spacer",
        "group": "fa87fbb421d605cd",
        "order": 4,
        "width": 10,
        "height": 1
    },
    {
        "id": "1fd548aff98acb88",
        "type": "MC Protocol Connection",
        "name": "169.254.199.143",
        "host": "169.254.199.143",
        "port": "9000",
        "protocol": "TCP",
        "frame": "1E",
        "plcType": "Q",
        "ascii": false,
        "PLCStation": "",
        "PCStation": "",
        "PLCModuleNo": "",
        "network": "",
        "octalInputOutput": false,
        "timeout": "1000"
    },
    {
        "id": "7c6faa8868db138f",
        "type": "ui_group",
        "name": "Status",
        "tab": "67672dfaf1daf1f5",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa87fbb421d605cd",
        "type": "ui_group",
        "name": "Input",
        "tab": "67672dfaf1daf1f5",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4cf55653c1f98e8",
        "type": "modbus-client",
        "name": "FX5U MODBUS TCP",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "169.254.199.143",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "67672dfaf1daf1f5",
        "type": "ui_tab",
        "name": "Traffic Light",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]